<div class="container jobs-section">
    <h1 class="jobs-section__title">I search somebody to...</h1>

    <!-- <div *ngFor="let job of jobList" (click)="jobSelectHandler(cause)">
        <a href="" class="job">
            <h4 class="job__title">{{job.title}}</h4>
            <h5 class="job__location">{{job.loaction}}</h5>
            <p class="job__description">{{job.description}}</p>
            <span class="job__timeFrame">{{job.timeFrame}}</span>
            <span class="job__cost h5-like">{{job.cost}}</span>
        </a>
    </div> -->

    <a routerLink="/jobs/detail" class="job job--pink">
        <span class="job__title h2-like">Do something special</span>
        <div class="job__location">
            <i class="fas fa-map-marker-alt"></i>
            <span class="h3-like"> Hamburg</span>
        </div>
        <p class="job__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, similique a? In sequi magnam cum nisi suscipit autem necessitatibus, facilis, accusamus assumenda similique beatae, quaerat provident reprehenderit recusandae ut ullam.</p>
        <span class="job__timeFrame h3-like">until 13.06</span>
        <span class="job__cost h5-like h3-like">12.6</span>
    </a>

    <a routerLink="/jobs/detail" class="job job--yellow">
        <span class="job__title h2-like">Do something special</span>
        <div class="job__location">
            <i class="fas fa-map-marker-alt"></i>
            <span class="h3-like"> Hamburg</span>
        </div>
        <p class="job__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, similique a? In sequi magnam cum nisi suscipit autem necessitatibus, facilis, accusamus assumenda similique beatae, quaerat provident reprehenderit recusandae ut ullam.</p>
        <span class="job__timeFrame h3-like">until 13.06</span>
        <span class="job__cost h5-like h3-like">12.6</span>
    </a>

    <a routerLink="/jobs/detail" class="job job--blue">
        <span class="job__title h2-like">Do something special</span>
        <div class="job__location">
            <i class="fas fa-map-marker-alt"></i>
            <span class="h3-like"> Hamburg</span>
        </div>
        <p class="job__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, similique a? In sequi magnam cum nisi suscipit autem necessitatibus, facilis, accusamus assumenda similique beatae, quaerat provident reprehenderit recusandae ut ullam.</p>
        <span class="job__timeFrame h3-like">until 13.06</span>
        <span class="job__cost h5-like h3-like">12.6</span>
    </a>

    <a routerLink="/jobs/detail" class="job job--green">
        <span class="job__title h2-like">Do something special</span>
        <div class="job__location">
            <i class="fas fa-map-marker-alt"></i>
            <span class="h3-like"> Hamburg</span>
        </div>
        <p class="job__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, similique a? In sequi magnam cum nisi suscipit autem necessitatibus, facilis, accusamus assumenda similique beatae, quaerat provident reprehenderit recusandae ut ullam.</p>
        <span class="job__timeFrame h3-like">until 13.06</span>
        <span class="job__cost h5-like h3-like">12.6</span>
    </a>


</div>
