@import "../../../styles.scss";

.job {
    width: $sticky-note-dim;
    height: $sticky-note-dim;
    box-shadow: $sticky-note-shadow;
    padding: 0px 15px 10px 15px;
    overflow: hidden;
    transition: transform 200ms ease-out;
    position: relative;
    transform-origin: top center;

    display: grid;
    grid-template-columns: 200px 60px;
    grid-template-rows: 25px 1fr 70px 50px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "pin pin"
        "title title"
        "location location"
        "timeFrame cost"
        "timeFrame cost";

    &:hover {
        transform: scale(1.05);
        z-index: 10;
    }

    &--pink {
        background-color: $sticky-note-col-pink;
        transform: rotate(-15deg);

        .job__pin {
            background-image: radial-gradient(yellow 70%,$sticky-note-col-pink);
        }
    }

    &--yellow {
        background-color: $sticky-note-col-yellow;
        transform: rotate(8deg);
        .job__pin {
            background-image: radial-gradient(blue 70%,$sticky-note-col-yellow);
        }
    }

    &--blue {
        background-color: $sticky-note-col-blue;
        transform: rotate(15deg);
        .job__pin {
            background-image: radial-gradient(pink 70%,$sticky-note-col-blue);
        }
    }

    &--green {
        background-color: $sticky-note-col-green;
        transform: rotate(-7deg);
        .job__pin {
            background-image: radial-gradient(tomato 70%,$sticky-note-col-green);
        }
    }

    &__pin {
        grid-area: pin;
        width: 20px;
        height: 20px;
    }

    &__title {
        grid-area: title;
        grid-column: -1 / 1;
        font-size: 30px;
        min-height: 100px;
    }

    &__location {
        grid-area: location;
        grid-column: -1 / 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        transform: rotate(5deg);

        span {
            font-size: 24px;
        }

        .icon {
            margin-right: 5px;
        }
    }

    &__description {
        grid-area: description;
        display: none;
    }

    &__timeFrame {
        grid-area: timeFrame;
    }

    &__cost {
        grid-area: cost;
        text-decoration: underline;
        font-size: 24px;
        align-self: end;
        transform: rotate(-5deg);

        &::after {
            content: "$";
            display: inline-block;
            margin-left: 3px;
        }
    }
}
