<ng-container *ngIf="!areListsAvailable">Loading</ng-container>
<ng-container *ngIf="areListsAvailable">
    <div class="job-my container">
        <div class="job-my__list column--centered">
            <h2 class="job-my__list-title">I search for somebody to...</h2>
            <div *ngFor="let job of jobList">
                <app-job-card [job]="job"></app-job-card>
            </div>
        </div>
        <div class="job-my__list column--centered">
            <h2 class="job-my__list-title">I offer to...</h2>
            <div *ngFor="let job of freelanceList">
                <app-job-card [job]="job"></app-job-card>
            </div>
        </div>
    </div>
</ng-container>