<div class="container login column column--centered">

    <form #loginForm="ngForm" class="form  form--column" (ngSubmit)="submitHandler(loginForm.value)">
        
        <div class="form__group">
            <label for="email">Email address</label>
            <input #emailInput="ngModel" ngModel name="email" type="text" id="email" class="form__control"
                placeholder="john.doe@domain.bg" required pattern="[a-zA-Z0-9\._-]{6,}@gmail\.(com|bg)">
            <!-- notification-message email -->
            <ng-template #emailError>
                <div class="notification-message notification-message--error">
                    <span *ngIf="emailInput.errors?.required">Please, input a gmail address!</span>
                    <span *ngIf="emailInput.errors?.pattern">Please, input a valid gmail address!</span>
                </div>
            </ng-template>
            <ng-template #validationConfirmation let-case='caseIdentifier'>
                <div class="notification-message notification-message--ok">{{case}} validated!</div>
            </ng-template>
            <ng-container *ngIf="emailInput.touched">
                <ng-container
                    *ngTemplateOutlet="emailInput.invalid ? emailError : validationConfirmation; context: {caseIdentifier: 'Email input'}">
                </ng-container>
            </ng-container>
        </div>

        <div class="form__group">
            <label for="password">Password</label>
            <input #passwordInput="ngModel" ngModel name="password" type="password" id="password" class="form__control"
                placeholder="************" required minlength="6">
            <!-- notification-message password -->
            <ng-template #passwordError>
                <div class="notification-message notification-message--error">
                    <span *ngIf="passwordInput.errors?.required">Please, input a password!</span>
                    <span *ngIf="passwordInput.errors?.minlength">Password should be at least 6 characters long!</span>
                </div>
            </ng-template>
            <ng-template #passwordValidation>
                <div class="notification-message notification-message--ok"
                    *ngIf="passwordInput.touched && passwordInput.valid">Validation passed!</div>
            </ng-template>
            <ng-container *ngIf="passwordInput.touched">
                <ng-container
                    *ngTemplateOutlet="passwordInput.invalid? passwordError : validationConfirmation; context: {caseIdentifier: 'Password input'}">
                </ng-container>
            </ng-container>
        </div>

        <div class="form__btn-line">
            <button [disabled]="loginForm.invalid" class="btn btn--primary">Login</button>
        </div>
    </form>

    <p>Don't have account yet? <a routerLink="/register">Register</a>.</p>
</div>