@import "../../../styles.scss";

.header {
    height: 120px;
    width: 100%;

    .container {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    &__logo,
    &__avatar {
        position: absolute;
    }

    &__logo {
        left: 0;
        top: 20px;
        z-index: 2;
    }

    &__avatar {
        right: 0;
        top: 0;
        z-index: 1;
    }
}

.logo {
    &__img {
        height: auto;
        width: 200px;
    }

    &::after {
        content: "SmoJo Cloud";
        display: inline;
        position: absolute;
        font-size: 30px;
        color: #fff;
        top: 50px;
        left: 15px;
    }
}

.avatar {
    color: white;

    &__img {
        height: auto;
        width: 200px;
    }

    &__icon,
    &__name {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: inherit;
        z-index: 3;
    }

    &__name {
        width: 90px;
        bottom: 15px;
        left: 10px;
    }

    &__icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        top: 19px;
        right: 16px;

        i {
            font-size: 25px;
            color: inherit;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
