@import "../../styles.scss";

.home {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    row-gap: 20px;

    @include for-tablet-landscape-up {
        grid-template-columns: 300px 200px 300px;
        column-gap: 100px;
    }

    &__img {
        height: auto;
        position: relative;

        
        &--search {
            justify-self: start;
        }

        &--freelance {
            justify-self: end;
        }

        &--job {
            width: 100px;
            align-self: start;
        }
    }

    &__action {
        background-color: #fff;
        border: 6px solid $secondary-color;
        width: 80%;
        height: 12%;
        font-size: 25px;
        font-family: "Gochi Hand", cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: $primary-shadow;
        position: absolute;
        z-index: 2;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);

        &--job {
            top: 310px;
            left: 440px;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: $primary-color;
            color: #fff;
        }      
    }
}
