<!-- <ng-container *ngIf="!isLogged">Loading...</ng-container> -->
<ng-container *ngIf="true">
    <div class="home container">
        <!-- <div class="home__action home__action--job">JOB</div> -->
        
        <div class="home__img home__img--search">
            <img src="../../assets/img/girl.png" />
            <a class="home__action" routerLink="/jobs/search">I search...</a>
        </div>

        <div class="home__img home__img--job">
            <img src="../../assets/icon/paper-plane.png" />
        </div>

        <div class="home__img  home__img--freelance">
            <img src="../../assets/img/boy.png" />
            <a class="home__action" routerLink="/jobs/offer">I offer...</a>
        </div>
    </div>
</ng-container>